.rgb {
    color: rgb(120, 300, 210);
}

.bg {
    background-color: #000;
    color: #bfd460;
}


/* Background opacity */

.bg-opacity {
    background-color: green;
    opacity: 0.5;
}

/* RGBA com opacidade */

.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #0254ff;
}


/* bg image */

.bg-image {
    background-image: url(../CSS/img/C2B221E6-57F0-4877-B281-022F68C9ADDC.jpg);
    padding: 10px;
    color:#fff;
}

/* Centralizando bg image */

.not-centered-bg, .centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../CSS/img/C2B221E6-57F0-4877-B281-022F68C9ADDC.jpg);
}

.centered-bg{
    background-position: center;
    background-size: cover;
}


/* Largura e altura */

.height-width {
    height: 200px;
    width:100px;
    background-color: red;
}

.margin{
    margin: 10px;
    background-color:#0d8013;

}

.margin-top{
    margin-top:50px;
    background-color:#350d80;
    padding:10px;
}

.margin-shorthand{
margin: 5px 20px;
background-color: aqua;
width:400px;
box-sizing: border-box;
padding-left: 10px;
}

/* Todos os elementos do box model */

#elementos-box-model {

    margin: 10px 20px;
    padding: 10px;
    height: 150px;
    width:100px;
    background-color: #0d8013;
    border: 7px solid #350d80;
    /* border-radius: 7px; */
    outline: 5px solid  #0254ff;
    
}

.text {
    background-color: #350d80;
    /* border: none; */
}

/* Text aligned */

.text-aligned {
    text-align: right;
    font-size: 50px;
}

/* Text aligned center */

.text-aligned-center {
    text-align: center;
    font-size: 50px;
    background-color: #0254ff;
    margin: 10px;
}

.text-aligned-center p {
    margin:0;
}

.inline-box {
    display: inline-block;
    width: 50px;
    background-color: #350d80;
    margin: 40px;
}

.block {
    display: block;
}

.invisible {
    display: none;
}

.static {
    position: static;
    background-color: #391; 
    color: #fff;
    width: 100px;
    height: 100px;
     top: 100px; /* static não aceita essa propriedade */
    left: 100px; /* static não aceita essa propriedade */

}

.relative {
    position: relative;
    background-color: #226;
    color:#0254ff;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 40px;
}

.relative  {
    background-color: #bfd460;
    width: 300px;
}

/* absolute */

.absolute {
    position: absolute;
    background-color: rgba(253, 11, 3, 1);
    color:#0254ff;
    width: 100px;
    height: 100px;
    top: 2px;
    left: 2px;
}

/* absolute with relative */

.conteiner-relative {
    width: 300px;
    height: 300px;
    border: 1px solid #45ff52;
    margin-top: 120px;
    position: relative;
}

.absolute-1, .absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #350d80;
    position:absolute;

}

.absolute-1 {
    top:10px;
    left:10px;
}

.absolute-2 {
   bottom: 10px;
   right: 10px; 
}